section {margin-bottom: 4em;}

.icon {
    width: 1.25em;
    height: 1.5em;
}

/* sliders */
.swiper-pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 1em;
}
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    opacity: 50%;
    background: var(--color-1);
}
.swiper-pagination-bullet-active {
    background: var(--color-1);
    opacity: 100%;
    transform: scale(1.6);
}
.swiper-button-next:after, .swiper-button-prev:after {
    content: none;
}
/* .swiper-button-prev {
    right: calc(100% + 1em);
}
.swiper-button-next {
    left: calc(100% + 1em);
} */



/* Section 1 */
#sec-1 {min-height: auto;}
.sec-1-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: -1;
    object-fit: cover;
}
.swiper-main {
    position: relative;
    overflow: hidden;
    height: 600px;
    padding-bottom: 50px;
}
.swiper-main .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.btn-burger {
    width: 1.6em;
    height: .8em;
    background: url(../img/icons/burger.svg) no-repeat center;
    background-size: contain;
}
nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

/* off canvas*/
.btn-close {
    background: url(../img/icons/close.svg) no-repeat center;
    background-size: contain;
    width: .9em;
    height: .9em;
    padding: 0;
    opacity: 1;
    position: absolute;
    top: 1em;
    right: 1em;
}


/* Section 2 */
blockquote {
    border-left: 2px solid var(--color-2);
    padding-left: 1em;
}



/* Section 3 */
.text-border {
    color: var(--color-2);
    -webkit-text-stroke: 2px var(--color-2);
    -webkit-text-fill-color: #fff;
    text-stroke: 2px var(--color-2);
    text-fill-color: #fff;
}
.img-1, .img-3 {margin-left: 15px;}
.img-2, .img-3 {margin-top: 15px;}
.img-1 img, .img-2 img, .img-3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
    position: relative;
    z-index: 2;
}
.img-1::after, .img-2::after, .img-3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-2);  
}
.img-1::after {
    top: 15px;
    left: -15px;
    z-index: 1;
}
.img-2::after {
    top: -15px;
    left: 15px;
    z-index: 3;
}
.img-3::after {
    top: -15px;
    left: -15px;
    z-index: 1;
}


/* Section 4 */
.swiper-offers {
    position: relative;
    overflow: hidden;
    height: 380px;
}
.swiper-offers .swiper-pagination-bullet {
    background:#fff;
}
.swiper-offers .swiper-pagination-bullet-active {background:#fff;}
.swiper-offers .slider-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right center;
    z-index: 0;
}
.swiper-offers .container {
    position: relative;
    z-index: 1;
    color: #fff;
}
.swiper-offers .lasting {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    opacity: 50%;
    font-size: .9em;
}
.swiper-offers .text {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}



/* Section 5 */
.accordion-item {
    border: none;
    margin-bottom: 0px;
}
.price-button {
    padding: 1em 0;
    font-weight: 800;
    width: 100%;
    text-align: left;
    position: relative;
    border-bottom: 1px solid rgb(var(--rgb-color-1) / 50%);
}
.price-button[aria-expanded="true"] {border-bottom: 1px solid transparent;}
.price-button::after {
    content: "";
    background: url(../img/icons/arrow.svg) no-repeat center;
    background-size: .75em;
    width: .75em;
    height: .375em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .2s;
}
.price-button[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(180deg);
}
.price-tb td {
    padding: .5rem 0;
    border-bottom: 1px solid rgb(var(--rgb-color-1) / 50%);
}
.price-tb td:nth-child(2) {
    text-align: right;
    font-weight: 600;
    color: var(--color-2);
}


/* Section 6 */
.box {
    border: 2px solid var(--color-2);
    padding: .35em;
    background-color: #fff;
}
.box img {
    width: 100%;
    height: 53vw;
    object-fit: cover;
    opacity: .85;
    margin-bottom: 1em;
}
@media (min-width: 576px){
    .box img {
        height: 320px;
    }
}
@media (min-width: 768px){
    .box img {
        height: 260px;
    }
}


.swiper-news {
    overflow: hidden;
}
.swiper-news .swiper-button-prev {left: 2em;}
.swiper-news .swiper-button-next {right: 2em;}

.title {
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
}
.text {
    line-height: 1.2em;
    height: 4.8em;
    overflow: hidden;
}

@media (max-width: 575px){
    #sec-8.container {
        padding-left: 0px;
        padding-right: 0px;
    }
}



/* footer */
footer {
    background-color: #000;
}